// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
#content {
  h1 {
    font-weight: normal;
  }
  @include pie-clearfix;
  .blog-index {
    
    max-width: 800px;
    margin: 60px auto;
    article {
      background: none;
      padding-top: 10px;
      padding-bottom: 10px;
      h1 {
        font-size: .9em;
        line-height: 1.1em;
        margin: 0px;
        display: inline-block;
      }
      time {
        display: inline-block;
        color: #888888;
        float: right;
        font-size: 0.8em;
      }
    }
  }
}

body footer, body header {
  background: transparent;
  text-align: center;
}

body>header {
  padding: 0px;
}

body>footer {
  border: none;
  padding-top: 20px;
}

body footer p {
  font-size: 1.1em;
  color: #888888;
}

body footer a {
  text-decoration: none;
}

body footer img {
  border-radius: 60px;
}
